langchain
langchain-community
langchain-chroma
chromadb
sentence-transformers
pymupdf
streamlit
ollama
pydantic
langchain-core
langchain-text-splitters
langchain-classic
google-generativeai
fastapi
uvicorn
